<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head id="headerFragment" th:fragment="headerFragment">
    <title>Reloader Data</title>
    <link rel="stylesheet" href="/resources/css/reset.css" th:href="@{/resources/css/reset.css}" />
    <link rel="stylesheet" href="/resources/css/style.css" th:href="@{/resources/css/style.css}" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.js" ></script>
</head>
<body></body>
</html>
