body {
    background-color: #363636;
}

body, td, li, p {
    font-family: Helvetica;
    font-size: 10pt;
}

#wrapper {
    width: 95%;
    margin: 9px auto 9px auto;
}

#login-wrapper {
    width: 30%;
    margin: 150px auto 0px auto;
}

#login-form {
    margin: 10px;
}

.rt-header {
    padding: 3px;
}

.rt-login-error {
    margin: 5px 0 10px 0;
    color: red;
    text-align: center;
}

#menuFragment {
    width: 100%;
    clear: both;
}

.ui-content table {
    margin: 8px;
}

td {
    color: #fff;
    padding: 3px;
}

#content {
    width: 100%;
    clear: both;
}

#footerFragment {
    text-align: center;
    clear: both;
    width: 100%;
}

#footerFragment * {
    text-align: center;
}

#menu {
    margin: 4px 0px;
}

#menu ul {
    padding: 4px;
}

#menu li {
    display: inline;
}

h1.ui-widget-header {
    padding: 2px 4px;
}

p {
    padding: 2px 4px;
}