body {
    /*background-color: #363636;*/
    background-color: #5C5C5C;
}

body, td, li, p {
    font-family: Helvetica;
    font-size: 100%;
}

#wrapper {
    width:100%;
}

#menuFragment {
}

#menu {
    width: 100%;
    margin-bottom: 5px;
    background-color: #3f3f3f;
    border-width: 0px;
    border-bottom: 1px solid black;
}

#menu ul {
    padding: 4px;
}

#menu li {
    display: inline;
}

#menu li:hover {
    background-color: #d3d3d3;
}

#menu a:hover {
    color: black;
}

#login-wrapper {
    width: 30%;
    margin: 150px auto 0px auto;
}

#login-form {
    margin: 10px;
}

#content {
    width: 98%;
    margin: 2px auto 10px auto;
    clear: both;
}

#content-detail {
    width: 50%;
    margin: 2px auto 10px auto;
    clear: both;
}

#content-form {
    width: 35%;
    margin: 2px auto 10px auto;
    clear: both;
}

#footerFragment {
    clear: both;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer {
    padding: 3px;
    border: 0px;
    border-top: 1px solid black;
}

#footerFragment * {
    text-align: center;
    font-size: 13px;
}

.rt-content-block {
    margin-bottom: 10px;
}

.rt-header {
    padding: 3px;
}

.rt-login-error {
    margin: 5px 0 10px 0;
    color: red;
    text-align: center;
}

.ui-content table {
    margin: 8px;
}

td {
    color: #fff;
    padding: 3px;
}


h1.ui-widget-header {
    padding: 2px 4px;
}

p {
    padding: 4px 2px;
}