<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/layout :: headerFragment">
    <title>Reloader Data</title>
    <link rel="stylesheet" href="../resources/css/reset.css" th:href="@{/resources/css/reset.css}" />
    <link rel="stylesheet" href="../resources/css/style.css" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" href="../resources/css/rt-superfish.css" th:href="@{/resources/css/rt-superfish.css}" />
    <link rel="stylesheet" href="../resources/css/jquery.dataTables_rt.css" th:href="@{/resources/css/jquery.dataTables_rt.css}" />
    <link rel="stylesheet" href="../resources/css/dot-luv/jquery-ui-1.10.3.custom.css" th:href="@{/resources/css/dot-luv/jquery-ui-1.10.3.custom.css}" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.js" ></script>
    <script type="text/javascript" src="../resources/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js" th:src="@{/resources/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js}"></script>
    <script type="text/javascript" src="../resources/js/DataTables-1.9.4/jquery.dataTables.js" th:src="@{/resources/js/DataTables-1.9.4/jquery.dataTables.js}"></script>
    <script type="text/javascript" src="../resources/js/superfish/js/superfish.js" th:src="@{/resources/js/superfish/js/superfish.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.extend( $.fn.dataTable.defaults, {
                "bJQueryUI": true,
                "bAutoWidth": false,
                "iDisplayLength" : 50
            });

            $("#superfish-menu").superfish();
            $("ul.sf-menu li").addClass("ui-state-default");
            $("ul.sf-menu li").hover(function () { $(this).addClass('ui-state-hover'); },
                    function () { $(this).removeClass('ui-state-hover'); });
        });
    </script>
</head>
<body>
<script type="text/javascript" src="../resources/js/dialog-form.js" th:src="@{/resources/js/dialog-form.js}"></script>
<div id="wrapper">
    <div id="menuFragment" th:include="fragment/layout :: menuFragment">
        <div id="menu" class="ui-widget ui-widget-header">
            <ul class="sf-menu" id="superfish-menu">
                <li>
                    <a href="/batches/">Batches</a>
                    <ul>
                        <li><a href="/batches/add">Add Batch</a></li>
                    </ul>
                </li>
                <li><a href="/components/">Components</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    </div>

    <div id="content-detail" th:object="${batch}">

        <div class="ui-widget ui-widget-content rt-content-block">
            <h1 class="ui-widget ui-widget-header">Notes</h1>
            <p>Details/notes about batch.</p>
        </div>

        <div style="float: left; width: 49%">
            <div class="ui-widget ui-widget-content rt-content-block">
                <h1 class="ui-widget ui-widget-header">Batch Details</h1>

                <table width="100%">

                    <tr>
                        <td>Description</td>
                        <td th:text="*{description}">Test Batch 1</td>
                    </tr>
                    <tr>
                        <td>Count</td>
                        <td th:text="*{count}">10</td>
                    </tr>
                    <tr>
                        <td>Remaining</td>
                        <td th:text="*{remaining}">5</td>
                    </tr>
                    <tr>
                        <td>Overall Length</td>
                        <td th:text="*{coal}">1.125</td>
                    </tr>
                    <tr>
                        <td>Brass</td>
                        <td th:text="*{brass.name}">Brass #1</td>
                    </tr>
                    <tr>
                        <td>Bullet</td>
                        <td th:text="*{bullet.name}">Bullet #1</td>
                    </tr>
                    <tr>
                        <td>Powder</td>
                        <td th:text="*{powder.name}"></td>
                    </tr>
                    <tr>
                        <td>Powder Charge</td>
                        <td th:text="*{powderCharge}"></td>
                    </tr>
                    <tr>
                        <td>Primer</td>
                        <td th:text="*{primer.name}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="float: right; width:49%;">
            <div class="ui-widget ui-widget-content rt-content-block">
                <h1 class="ui-widget ui-widget-header">Cost Per Round</h1>

                <table width="100%">
                    <tr>
                        <td>Brass Cost</td>
                        <td th:text="'$' + *{costPerRound.brass}"></td>
                    </tr>
                    <tr>
                        <td>Powder Cost</td>
                        <td th:text="'$' + *{costPerRound.powder}"></td>
                    </tr>
                    <tr>
                        <td>Primer Cost</td>
                        <td th:text="'$' + *{costPerRound.primer}"></td>
                    </tr>
                    <tr>
                        <td>Bullet Cost</td>
                        <td th:text="'$' + *{costPerRound.bullet}"></td>
                    </tr>
                    <tr>
                        <td>Cost Per Round</td>
                        <td th:text="'$' + *{costPerRound.total}"></td>
                    </tr>
                    <tr>
                        <td>Total Cost for Batch</td>
                        <td th:text="'$' + *{costForBatch}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="clear: both; text-align: center; padding-top: 15px;">
            <button id="edit">Edit</button>
            <button id="back">Back</button>
        </div>

    </div>


    <div id="footerFragment" th:include="fragment/layout :: footerFragment">
    </div>
</div>


</body>
</html>