<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:include="fragment/layout :: headerFragment">
    <link rel="stylesheet" href="../resources/css/reset.css" th:href="@{/resources/css/reset.css}" />
    <link rel="stylesheet" href="../resources/css/style.css" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" href="../resources/css/jquery.dataTables_rt.css" th:href="@{/resources/css/jquery.dataTables_rt.css}" />
    <link rel="stylesheet" href="../resources/css/dot-luv/jquery-ui-1.10.3.custom.css" th:href="@{/resources/css/dot-luv/jquery-ui-1.10.3.custom.css}" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.js" ></script>
    <script type="text/javascript" src="../resources/js/jquery-ui-1.10.3.custom/development-bundle/jquery-1.9.1.js" th:href="@{/resources/js/jquery-ui-1.10.3.custom/development-bundle/jquery-1.9.1.js}"></script>
    <script type="text/javascript" src="../resources/js/DataTables-1.9.4/jquery.dataTables.js" th:href="@{/resources/js/DataTables-1.9.4/jquery.dataTables.js}"></script>
</head>
<body>
<div id="wrapper">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatable").dataTable({
                "bJQueryUI": true
            });
        });
    </script>

    <div id="menuFragment" th:include="fragment/layout :: menuFragment"></div>

    <div id="content">
        <div class="ui-widget ui-widget-content">
            <table width="100%" id="datatable" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Remaining</th>
                        <th>Cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="component : ${components}">
                        <td th:text="${component.name}">Name</td>
                        <td th:text="${component.type}">Type</td>
                        <td th:text="${component.amount}">Amount</td>
                        <td th:text="${component.remaining}">Remaining</td>
                        <td th:text="${component.cost}">Cost</td>
                        <td><a href="batchform.html" th:href="@{'/components/' + ${component.id} + '/edit'}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footerFragment" th:include="fragment/layout :: footerFragment"></div>
</div>
</body>
</html>