<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/layout :: headerFragment">
</head>
<body>
<script type="text/javascript" src="../resources/js/dialog-form.js" th:src="@{/resources/js/dialog-form.js}"></script>

<div id="wrapper">
    <div id="menuFragment" th:include="fragment/layout :: menuFragment">
    </div>

    <div id="content-detail" th:object="${component}">

        <div class="ui-widget ui-widget-content rt-content-block">
            <h1 class="ui-widget ui-widget-header">Notes</h1>
            <p>Details/notes about batch.</p>
        </div>

        <div style="float: left; width: 49%">
            <div class="ui-widget ui-widget-content rt-content-block">
                <h1 class="ui-widget ui-widget-header">Component Details</h1>

                <table width="100%">

                    <tr>
                        <td>Name</td>
                        <td th:text="*{name}">Test Batch 1</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td th:text="*{type}">10</td>
                    </tr>
                    <tr>
                        <td>Cost</td>
                        <td th:text="'$' + *{cost}">1.125</td>
                    </tr>
                    <tr>
                        <td>Purchased</td>
                        <td th:text="*{amount}">5</td>
                    </tr>
                    <tr>
                        <td>Remaining</td>
                        <td th:text="*{remaining}">5</td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="float: right; width:49%;">
            <div class="ui-widget ui-widget-content rt-content-block">
                <h1 class="ui-widget ui-widget-header">Batch List</h1>
                <p>List batches using this component</p>
            </div>
        </div>

        <div style="clear: both; text-align: center; padding-top: 15px;">
            <button id="edit">Edit</button>
            <button id="back">Back</button>
        </div>

    </div>


    <div id="footerFragment" th:include="fragment/layout :: footerFragment">
    </div>
</div>


</body>
</html>