<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <form action="#" th:object="${component}" method="post" id="edit-form">

        <table width="100%">
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    <select th:field="*{type}">
                        <option th:each="type : ${componentTypes}"
                                th:value="${type}"
                                th:text="${type}">Wireframe
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><input type="text" th:field="*{amount}"/></td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input type="text" th:field="*{cost}"/></td>
            </tr>
        </table>

    </form>
</body>
</html>